// Configuration for the NGS pipeline.
params {
    // path to the gzipped FASTQ read files
    fastq = "s3://sripaladugu/fastqs/ERR194146_[12].fastq.gz"
    genome_file = "/vol1/BWAIndex/genome.fa"
    results_dir = "/vol1/sripaladugu/results/"
}

aws {
    accessKey = "AKIAQDGPBA7IZ76UBTJH"
    secretKey = "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"
}

process {

    executor = 'slurm'
    queue = 'compute'

    // configure expected resource usage
    
    withName:mapping {
        container = "sripaladugu/samtools-bwa:v0.1"
        cpus = 1
    }

    withName:bamsorter {
        container = "sripaladugu/samtools-bwa:v0.1"
        cpus = 1
    }

    withName:bamindexer {
        container = "sripaladugu/samtools-bwa:v0.1"
        cpus = 1
    }
}

docker {
    enabled = true
    autoMounts = true
}

trace {
  enabled = true
  file = 'trace_pipeline.txt'
  fields = 'task_id,hash,native_id,process,tag,name,container,status,exit,start,complete,duration,realtime,%cpu,rss,vmem,peak_rss,peak_vmem'
  raw = false
}

timeline {
  enabled = true
  file = 'timeline.html'
}
