// Configuration for the NGS pipeline.
params {
    // path to the gzipped FASTQ read files
    fastq = "/gstore/data/casino/fastqs/ERR194146_*.fastq.gz"
    genome_file = "/home/paladugs/nextflow_align/BWAIndex/genome.fa"
    results_dir = "/gstore/data/casino/workspace/sri/nextflow_results/"

}

process {

    executor = 'slurm'
    queue = 'M-16Cpu-123GB'

    // configure expected resource usage
    
    withName:mapping {
        container = "sripaladugu/samtools-bwa:v0.1"
        cpus = 1
        memory = 60.GB
    }

    withName:bamsorter {
        container = "sripaladugu/samtools-bwa:v0.1"
        cpus = 1
        memory = 60.GB
    }

}

singularity {
    enabled = true
    autoMounts = true
}

trace {
  enabled = true
  file = 'trace_pipeline.txt'
  fields = 'task_id,hash,native_id,process,tag,name,container,status,exit,start,complete,duration,realtime,%cpu,rss,vmem,peak_rss,peak_vmem'
  raw = false
}

timeline {
  enabled = true
  file = 'timeline.html'
}